###  Data Wrangling

El Data Wrangling es el proceso de convertir datos del formato inicial a un formato que puede ser mejor para el análisis.

# Importación de librerías

In [2]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

### Ahora, pasamos a importar el DF

In [3]:
df_airbnb = pd.read_csv('listings_detailed.csv')

df_airbnb.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6369,https://www.airbnb.com/rooms/6369,20210413152844,2021-04-15,"Rooftop terrace room , ensuite bathroom",Excellent connection with the AIRPORT and EXHI...,NaN,https://a0.muscache.com/pictures/683224/4cc318...,13660,https://www.airbnb.com/users/show/13660,...,10.0,10.0,10.0,NaN,f,1,0,1,0,0.58
1,21853,https://www.airbnb.com/rooms/21853,20210413152844,2021-04-16,Bright and airy room,We have a quiet and sunny room with a good vie...,We live in a leafy neighbourhood with plenty o...,https://a0.muscache.com/pictures/68483181/87bc...,83531,https://www.airbnb.com/users/show/83531,...,10.0,8.0,9.0,NaN,f,2,0,2,0,0.42
2,23001,https://www.airbnb.com/rooms/23001,20210413152844,2021-04-16,Apartmento Arganzuela- Madrid Rio,"Apartamento de tres dormitorios dobles, gran s...","Barrio Arganzuela, junto a Madrid Rio, zonas c...",https://a0.muscache.com/pictures/58e6a770-509c...,82175,https://www.airbnb.com/users/show/82175,...,NaN,NaN,NaN,NaN,f,7,6,1,0,NaN
3,24805,https://www.airbnb.com/rooms/24805,20210413152844,2021-04-15,Gran Via Studio Madrid,"Studio located 50 meters from Gran Via, next t...","The area is next to the Gran Via, so people li...",https://a0.muscache.com/pictures/miso/Hosting-...,346366726,https://www.airbnb.com/users/show/346366726,...,10.0,10.0,10.0,NaN,t,1,1,0,0,0.13
4,26825,https://www.airbnb.com/rooms/26825,20210413152844,2021-04-15,Single Room whith private Bathroom,Nice and cozy roon for one person with a priva...,"Es un barrio muy tranquilo, en una zona de Mad...",https://a0.muscache.com/pictures/149358/218d5b...,114340,https://www.airbnb.com/users/show/114340,...,9.0,9.0,9.0,NaN,f,1,0,1,0,1.12

### Definimos el DF

In [7]:
df=pd.DataFrame(df_airbnb)
index=df.index
#

### Identificamos lagunas en los datos (Celdas nulas)

Vamos a ubicar el porcentaje de nulos que contienen nuestras celdas

In [8]:
df.isnull().sum()
serie=(df.isnull().sum()/df.shape[0])*100
serie=serie.sort_values(ascending=False)
serie= serie[serie>0]
serie

calendar_updated               100.000000
bathrooms                      100.000000
license                         85.095321
host_about                      52.278520
host_acceptance_rate            43.847487
host_response_rate              43.210317
host_response_time              43.210317
neighborhood_overview           41.094913
neighbourhood                   41.094913
host_neighbourhood              35.793659
review_scores_value             30.171271
review_scores_location          30.166174
review_scores_accuracy          30.161077
review_scores_checkin           30.150882
review_scores_communication     30.150882
review_scores_cleanliness       30.145784
review_scores_rating            30.099908
last_review                     28.733816
first_review                    28.733816
reviews_per_month               28.733816
bedrooms                         7.620553
description                      5.800795
host_location                    2.910592
host_picture_url                 2.686308
host_listings_count              2.686308
host_total_listings_count        2.686308
host_thumbnail_url               2.686308
host_has_profile_pic             2.686308
host_identity_verified           2.686308
host_is_superhost                2.686308
host_since                       2.686308
host_name                        2.686308
beds                             2.038944
bathrooms_text                   0.147823
name                             0.015292
maximum_maximum_nights           0.005097
picture_url                      0.005097
minimum_minimum_nights           0.005097
maximum_minimum_nights           0.005097
minimum_maximum_nights           0.005097
minimum_nights_avg_ntm           0.005097
maximum_nights_avg_ntm           0.005097
dtype: float64

El objetivo del Data Wrangling es garantizar la confiabilidad de nuestros datos. Para lograrlo, es necesario minimizar el riesgo potencial que puedan tener, y en este sentido, se puede establecer como criterio eliminar aquellas columnas que presenten un porcentaje de valores nulos superior al 10%.

In [1]:
df.isnull().sum()
serie=(df.isnull().sum()/df.shape[0])*100
serie=serie.sort_values(ascending=False)
serie= serie[serie>10]
serie

NameError: name 'df' is not defined

In [13]:
df = df.drop(['calendar_updated', 'bathrooms','license', 'host_about', 'host_acceptance_rate', 'host_response_time', 'host_response_rate', 'neighbourhood', 'neighborhood_overview', 'host_neighbourhood', 'review_scores_value','review_scores_location', 'review_scores_accuracy','review_scores_checkin', 'review_scores_communication','review_scores_cleanliness', 'review_scores_rating','last_review', 'first_review', 'reviews_per_month'], axis=1)

Ahora, con las columnas que nos quedamos, vamos a contar los valores faltantes de cada una.

In [16]:
missing_data = df.isnull()
missing_data.head(5)

,id,listing_url,scrape_id,last_scraped,name,description,picture_url,host_id,host_url,host_name,...,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Usando un bucle for , podemos ver la cantidad de valores que faltan en cada columna. 'Verdadero' representa un valor faltante, mientras que 'Falso' es que el valor está presente en el conjunto de datos.

In [15]:
for column in missing_data.columns.values.tolist():
    print (missing_data[column].value_counts())
    print("")

False    19618
Name: id, dtype: int64

False    19618
Name: listing_url, dtype: int64

False    19618
Name: scrape_id, dtype: int64

False    19618
Name: last_scraped, dtype: int64

False    19615
True         3
Name: name, dtype: int64

False    18480
True      1138
Name: description, dtype: int64

False    19617
True         1
Name: picture_url, dtype: int64

False    19618
Name: host_id, dtype: int64

False    19618
Name: host_url, dtype: int64

False    19091
True       527
Name: host_name, dtype: int64

False    19091
True       527
Name: host_since, dtype: int64

False    19047
True       571
Name: host_location, dtype: int64

False    19091
True       527
Name: host_is_superhost, dtype: int64

False    19091
True       527
Name: host_thumbnail_url, dtype: int64

False    19091
True       527
Name: host_picture_url, dtype: int64

False    19091
True       527
Name: host_listings_count, dtype: int64

False    19091
True       527
Name: host_total_listings_count, dtype: int64

False    19618
Name: host_verifications, dtype: int64

False    19091
True       527
Name: host_has_profile_pic, dtype: int64

False    19091
True       527
Name: host_identity_verified, dtype: int64

False    19618
Name: neighbourhood_cleansed, dtype: int64

False    19618
Name: neighbourhood_group_cleansed, dtype: int64

False    19618
Name: latitude, dtype: int64

False    19618
Name: longitude, dtype: int64

False    19618
Name: property_type, dtype: int64

False    19618
Name: room_type, dtype: int64

False    19618
Name: accommodates, dtype: int64

False    19589
True        29
Name: bathrooms_text, dtype: int64

False    18123
True      1495
Name: bedrooms, dtype: int64

False    19218
True       400
Name: beds, dtype: int64

False    19618
Name: amenities, dtype: int64

False    19618
Name: price, dtype: int64

False    19618
Name: minimum_nights, dtype: int64

False    19618
Name: maximum_nights, dtype: int64

False    19617
True         1
Name: minimum_minimum_nights, dtype: int64

False    19617
True         1
Name: maximum_minimum_nights, dtype: int64

False    19617
True         1
Name: minimum_maximum_nights, dtype: int64

False    19617
True         1
Name: maximum_maximum_nights, dtype: int64

False    19617
True         1
Name: minimum_nights_avg_ntm, dtype: int64

False    19617
True         1
Name: maximum_nights_avg_ntm, dtype: int64

False    19618
Name: has_availability, dtype: int64

False    19618
Name: availability_30, dtype: int64

False    19618
Name: availability_60, dtype: int64

False    19618
Name: availability_90, dtype: int64

False    19618
Name: availability_365, dtype: int64

False    19618
Name: calendar_last_scraped, dtype: int64

False    19618
Name: number_of_reviews, dtype: int64

False    19618
Name: number_of_reviews_ltm, dtype: int64

False    19618
Name: number_of_reviews_l30d, dtype: int64

False    19618
Name: instant_bookable, dtype: int64

False    19618
Name: calculated_host_listings_count, dtype: int64

False    19618
Name: calculated_host_listings_count_entire_homes, dtype: int64

False    19618
Name: calculated_host_listings_count_private_rooms, dtype: int64

False    19618
Name: calculated_host_listings_count_shared_rooms, dtype: int64

Arreglamos un poco para poder ver mejor los datos

In [27]:
null_columns = df.columns[df.isnull().any()].tolist()
null_counts = df[null_columns].isnull().sum().sort_values(ascending=False)

print(null_counts)

bedrooms                     1495
description                  1138
host_location                 571
host_has_profile_pic          527
host_name                     527
host_since                    527
host_is_superhost             527
host_thumbnail_url            527
host_picture_url              527
host_listings_count           527
host_total_listings_count     527
host_identity_verified        527
beds                          400
bathrooms_text                 29
name                            3
picture_url                     1
minimum_minimum_nights          1
maximum_minimum_nights          1
minimum_maximum_nights          1
maximum_maximum_nights          1
minimum_nights_avg_ntm          1
maximum_nights_avg_ntm          1
dtype: int64

## Cómo lidiar con los datos faltantes

1.Soltar datos eliminando toda la fila (ya utilizamos el método de eliminar todas las columnas al principio).

2.Reemplazar datos:

        a.Por la media

        b.Por frecuencia

        c.Basado en otras funciones

Es asi entonces que vamos a usar todos las opciones


#### Reemplazar por la media 

        beds                          400
        bathrooms_text                 29

    

#### Soltar toda la fila 
        picture_url                     
        minimum_minimum_nights         
        maximum_minimum_nights          
        minimum_maximum_nights          
        maximum_maximum_nights          
        minimum_nights_avg_ntm          
        maximum_nights_avg_ntm          
Motivo: la cantidad de filas a eliminar son realmente insignificante.


El resto de las columnas no fueron seleccionadas por que posteriormente no se van a utilizar.

#### Calcular la media de las columnas

In [37]:
media = df["beds"].astype("float").mean(axis=0)
print("Media de camas:", media)

Media de camas: 1.9552502861900616

In [2]:

df["beds"].replace(np.nan, media, inplace=True)

SyntaxError: cannot assign to literal (224009826.py, line 1)

Para la columna 'bathrooms_text' me encuentro con el problema de que no estan escritos en numeros solamente. Entonces lo primero que hago es quitar todas las letras en las filas, mantiendo los nulos.

In [3]:


# Utilice expresiones regulares para eliminar las palabras de la columna 'bathrooms_text'
df['bathrooms_text'] = df['bathrooms_text'].apply(lambda x: re.sub('[^\d\.]+', '', str(x)) if pd.notnull(x) else x)

# Convierta la columna 'bathrooms_text' en números de coma flotante
df['bathrooms'] = pd.to_numeric(df['bathrooms_text'], errors='coerce')

NameError: name 'df' is not defined

In [ ]:
Luego si, realizo la media y re

In [49]:
media_bath = df["bathrooms"].astype("float").mean(axis=0)
print("Media de baños:", media_bath)

Media de baños: 1.2933053751342505

In [50]:
df["bathrooms"].replace(np.nan, media_bath, inplace=True)

#### Elimino las  filas

In [52]:
df.dropna(subset=['picture_url','minimum_minimum_nights',
                  'maximum_minimum_nights','minimum_maximum_nights',
                  'maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm'],
          axis=0, inplace=True)

df.reset_index(drop=True, inplace=True)

### Formato de  datos correcto 

Vamos a verificar y asegurarnos de que todos los datos estén en el formato correcto. (int, float, text, u otro).

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19616 entries, 0 to 19615
Data columns (total 55 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            19616 non-null  int64
 1   listing_url                                   19616 non-null  object
 2   scrape_id                                     19616 non-null  int64
 3   last_scraped                                  19616 non-null  object
 4   name                                          19613 non-null  object
 5   description                                   18479 non-null  object
 6   picture_url                                   19616 non-null  object
 7   host_id                                       19616 non-null  int64
 8   host_url                                      19616 non-null  object
 9   host_name                                     19089 non-null  object
 10  host_since                                    19089 non-null  object
 11  host_location                                 19045 non-null  object
 12  host_is_superhost                             19089 non-null  object
 13  host_thumbnail_url                            19089 non-null  object
 14  host_picture_url                              19089 non-null  object
 15  host_listings_count                           19089 non-null  float64
 16  host_total_listings_count                     19089 non-null  float64
 17  host_verifications                            19616 non-null  object
 18  host_has_profile_pic                          19089 non-null  object
 19  host_identity_verified                        19089 non-null  object
 20  neighbourhood_cleansed                        19616 non-null  object
 21  neighbourhood_group_cleansed                  19616 non-null  object
 22  latitude                                      19616 non-null  float64
 23  longitude                                     19616 non-null  float64
 24  property_type                                 19616 non-null  object
 25  room_type                                     19616 non-null  object
 26  accommodates                                  19616 non-null  int64
 27  bathrooms_text                                19616 non-null  object
 28  bedrooms                                      18122 non-null  float64
 29  beds                                          19616 non-null  float64
 30  amenities                                     19616 non-null  object
 31  price                                         19616 non-null  object
 32  minimum_nights                                19616 non-null  int64
 33  maximum_nights                                19616 non-null  int64
 34  minimum_minimum_nights                        19616 non-null  float64
 35  maximum_minimum_nights                        19616 non-null  float64
 36  minimum_maximum_nights                        19616 non-null  float64
 37  maximum_maximum_nights                        19616 non-null  float64
 38  minimum_nights_avg_ntm                        19616 non-null  float64
 39  maximum_nights_avg_ntm                        19616 non-null  float64
 40  has_availability                              19616 non-null  object
 41  availability_30                               19616 non-null  int64
 42  availability_60                               19616 non-null  int64
 43  availability_90                               19616 non-null  int64
 44  availability_365                              19616 non-null  int64
 45  calendar_last_scraped                         19616 non-null  object
 46  number_of_reviews                             19616 non-null  int64
 47  number_of_reviews_ltm                         19616 non-null  int64
 48  number_of_reviews_l30d                        19616 non-null  int64
 49  instant_bookable                              19616 non-null  object
 50  calculated_host_listings_count                19616 non-null  int64
 51  calculated_host_listings_count_entire_homes   19616 non-null  int64
 52  calculated_host_listings_count_private_rooms  19616 non-null  int64
 53  calculated_host_listings_count_shared_rooms   19616 non-null  int64
 54  bathrooms                                     19616 non-null  float64
dtypes: float64(13), int64(17), object(25)
memory usage: 8.2+ MB

Modifico la columna precios. Primero quitarle el signo pesos y luego sacarle las comas que habían .

Para poder cambiarles el tipo a float, y así poder analizar mejor los datos.

In [58]:
df['price'] = df['price'].apply(lambda x: float(x.replace("$","").replace(",","")))

Realizo lo mismo para las siguientes columnas:

In [67]:
df['minimum_nights'] = df['minimum_nights'].apply(float)
df['minimum_minimum_nights'] = df['minimum_minimum_nights'].apply(float)
df['maximum_minimum_nights'] = df['maximum_minimum_nights'].apply(float)
df['minimum_nights_avg_ntm'] = df['minimum_nights_avg_ntm'].apply(float)
df['availability_30'] = df['availability_30'].apply(float)
df['availability_60'] = df['availability_60'].apply(float)
df['availability_90'] = df['availability_90'].apply(float)
df['availability_365'] = df['availability_365'].apply(float)
df['number_of_reviews'] = df['number_of_reviews'].apply(float)
df['number_of_reviews_ltm'] = df['number_of_reviews_ltm'].apply(float)
df['number_of_reviews_l30d'] = df['number_of_reviews_l30d'].apply(float)
df['calculated_host_listings_count_entire_homes'] = df['calculated_host_listings_count_entire_homes'].apply(float)
df['calculated_host_listings_count_private_rooms'] = df['calculated_host_listings_count_private_rooms'].apply(float)
df['calculated_host_listings_count_shared_rooms'] = df['calculated_host_listings_count_shared_rooms'].apply(float)